body {
  background-color: lightblue;
  text-align: center;
  font-family: Stencil Std, fantasy;
  font-size: 50px;
}
p, button {
  background-color: lightblue; /* Green */
  border: 4px;
  border-color: green;
  border-radius: 50%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  width: 200px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

button:hover {
	background-color: lightgreen
}

span:id="winner"{
  font-weight: 600px
  color: blue;
}
